@tailwind base;
@tailwind components;
@tailwind utilities;

.tesla{
    background-image: radial-gradient(54.97%  272.54% at 27.36% -134.72%, rgba(108,148,255,.92)0,rgba(0,0,0,.92) 100%);
}
*{
    font-family: "Gotham SSm", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.personalMsg{
background: linear-gradient(90deg, #e4c678 0, #f2e5c2 50%, #e8d199 100%) !important;
}
    /* Custom scrollbar */
    ::-webkit-scrollbar {
    width: 12px;
    }
      
    ::-webkit-scrollbar-track {
    background: transparent;
    }
          
    ::-webkit-scrollbar-thumb {
        background-color: #b8b8b8;
    }